---
import { getCollection } from 'astro:content'
import Layout from '../components/layout.astro'
import Time from '../components/time.astro'
import NewTab from '../components/new-tab.astro'
import { Icon } from 'astro-icon/components'

const posts = (await getCollection('post')).sort((a, b) => b.data.created.valueOf() - a.data.created.valueOf())
---

<Layout>
	<div data-pagefind-ignore>
		<h1>るいすの備忘録</h1>
		<h2>主な制作物</h2>
		<ul>
			<li>
				<NewTab href="https://luis.fun">ホームページ</NewTab> 作ったものまとめ
			</li>
			<li>
				<NewTab href="https://discord-hono.luis.fun/ja/">Discord Hono</NewTab> Discord Botを作るライブラリ
			</li>
			<li>
				<NewTab href="https://paimon.plus/ja/">Paimon+</NewTab> 原神webツール
			</li>
		</ul>
		<h2>書き物</h2>
		<div class="cards">
			{
				posts.map((post) => (
					<a class="card flex" href={`/${post.id}/`}>
						<div class="card-image flex justify-center">
							<Icon name={post.data.emoji} class="card-icon" />
						</div>
						<div class="card-content">
							<div class="card-title">{post.data.title}</div>
							<Time date={post.data.updated || post.data.created} icon={post.data.updated ? "mdi:update" : undefined} />
						</div>
					</a>
				))
			}
		</div>
	</div>
</Layout>

<style>
	.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(20rem, 100%));
    gap: 2rem;
    justify-content: center;
	}
	.card {
		gap: 1rem;
	}
	.card-image {
		width: 6rem;
		height: 6rem;
		background: var(--bg-2);
		border-radius: 1rem;
	}
	.card-icon {
		width: 3rem;
		height: auto;
	}
	.card-content {
		color: var(--text-2);
	}
	.card-title {
		font-size: 1.25rem;
		color: var(--text-1);
	}
</style>
